<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <app-navegacion></app-navegacion>
</header>
<body>
    <h2>ENCUENTRANOS</h2>
    <br>
    <h4>Si necesitas informes, contáctanos al telefono:</h4>
    <!--<form enctype="text/plain" action="mailto:colegiopierrefaure@gmail.com" method="POST">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" size="30" placeholder="nombre"><br>
      <label for="email">Email: </label>
      <input type="email" name="email" size="30" placeholder="email"><br>
      <label for="asunto">Asunto:</label>
      <input type="text" name="asunto" size="30" placeholder="asunto"><br>
      <input type="submit" value="Enviar">
    </form> -->
    <div class="box">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3732.8985493494124!2d-103.35794278559847!3d20.673706005181288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428b1fcffb759c5%3A0x4f8fedf6b3e5f353!2sCalle%20Penitenciar%C3%ADa%20181%2C%20Col%20Americana%2C%20Americana%2C%2044160%20Guadalajara%2C%20Jal.!5e0!3m2!1ses!2smx!4v1621111957128!5m2!1ses!2smx" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <p>Calle Penitenciaría 181, Col Americana, Americana, 44160 <br> Guadalajara, Jal.</p>
    </div>


</body>
<footer>
  <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
</footer>
</html>
