<header>
  <app-navegacion></app-navegacion>
</header>
<body>
  <div class="container">
    <div class="box">
      <div class="marco">
        <img class="banner" src="../../../../assets/images/image1.png" alt="Banner info"  routerLink="/servicios" routerLinkActive="true">
      </div>
    </div>
    <div class="valores">
      <h1>Nuestros Valores</h1>
      <br> <br>
      <ul class="valores-1">
        <li >
          <img class="valores-2" src="../../../../assets/images/innovacion.png" alt="valor innovacion" routerLink="/nosotros" routerLinkActive="true">
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/creatividad.png" alt="valor innovacion" routerLink="/nosotros" routerLinkActive="true">
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/responsabilidad social.png" alt="valor innovacion" routerLink="/nosotros" routerLinkActive="true">
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/respeto.png" alt="valor innovacion" routerLink="/nosotros" routerLinkActive="true">
        </li>
      </ul>
      <br>
      <ul class="valores-1">
        <li class="desc">
          <h2>Innovacion</h2>
        </li>
        <li class="desc first" >
          <h2>Creatividad</h2>
        </li>
        <li class="desc first">
          <h2>Respeto</h2>
        </li>
        <li class="desc first">
          <h2>Responsabilidad</h2>
        </li>
      </ul>
      <br><br>
      <hr>
      <br> <br>
      <div class="informes">

      </div>
      <ul class="final">
        <li class="cont">
          <h5>Teléfono: 3313480337</h5>
        </li>
        <li class="cont">
          <h5>E-mail: colegiopierrefaure@gmail.com</h5>
        </li>
        <li class="cont">
          <h5  class="ubicacion" routerLink="/contacto" routerLinkActive="true">Encuentanos</h5>
        </li>
        <img class="ubi" src="../../../../assets/images/ubi.png" alt="ubicacion">
      </ul>
    </div>
  </div>
</body>
<footer>
  <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
</footer>

