<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="logo" src="/assets/images/logolargo.png" alt="Logo PIerre Faure" routerLink = '/'>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios/add" routerLinkActive="active">  <i class="fa fa-plus-circle" aria-hidden="true"></i> Crear usuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">  <i  aria-hidden="true" (click) = "irInicioSesion()"></i> Cerrar Sesion </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
