<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="boton">
      <input
        class="cancelar"
        name="submit"
        type="button"
        value="Cancelar"
        (click)="cancelar()"
      />
     <a href="https://mpago.la/2GbwoaP" target="_blank"> <input class="pago" name="submit" type="button" value="Pagar" /></a>
  </div>
  <br>
</body>
</html>




