<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <app-navegacion></app-navegacion>
</header>
<body>
  <div class="container">
    <h1>¡Conoce nuestros servicios!</h1>
  <br> <br>
  <div class="servicios">
    <br>
    <ul class="atributos">
      <li class="preescolar">
        <h3>Guardería</h3>
        <img src="../../../../assets/images/baby.png" alt="Guardería">
      </li>

      <li class="guarderia">
          <h3>Preescolar</h3>
          <img src="../../../../assets/images/kid .png" alt="Preescolar">
      </li>

      <li class="clubtareas">
          <h3>Club de Tareas</h3>
          <img src="../../../../assets/images/tareas.png" alt="ActExtra">
      </li>

        <li class="actextr">
          <h3>Actividades extraescolares</h3>
          <img src="../../../../assets/images/talleres.png" alt="ActExtra">
        </li>
      </ul>
    <ul>
      <li class="preescolar uno">
        <p class="uno">Una de las elecciones más importantes para los padres,
           es el dejar a sus hijos al cuidado de otras personas, deben sentirse completamente tranquilos. <br> <br> Una buena guardería debe ofrecerle a los niños una amplia variedad de juegos y actividades, con materiales didácticos que le permitan divertirse e interactuar entre sí</p></li>

        <li class="guarderia uno">
          <p class="uno">
            La Educación Preescolar como primer peldaño de la formación escolarizada del niño mexicano, brinda a las niñas y los niños de 3, 4 y 5 años una atención pedagógica congruente con las características propias de la edad. <br> <br>
             El jardín de niños tiene la función de favorecer el desarrollo integral de manera  armónica.
          </p>
        </li>

        <li class="clubtareas uno">
          <p class="uno">
            Programa que responde a las necesidades de los padres de familia para acompañar a sus hijos en la realización de tareas, asesorarlo académicamente y realizando ejercicios para que vayan fortaleciendo las habilidades, destrezas y conocimientos que les ayuden a consolidar sus hábitos de estudio. <br> <br> <br>
          </p>
        </li>
        <li class="actextr uno">
          <p class="uno">
            Contamos con algunas actividades extraescolares como: ballet, arte, ciencias, inglés, educacion física y taller de manualidades. <br> <br> Que aportan al alumno un crecimiento acádemico y como personas, además, de fomentar la disciplina, el hábito del deporte y la formación cultural. <br> <br> <br>
          </p>
        </li>
      </ul>
      <br>
  </div>
  <br> <br> <br>
  <h2>Horario de 6:30 AM hasta 8:00 PM <br> <br>
      Todos nuestros servicios incluyen alimentos.</h2>
  </div>
  <br><br>
  <div class="container">
    <hr> <br> <br> <br>
    <ul class="final">
      <li class="cont">
        <h5>Teléfono: 3313480337</h5>
      </li>
      <li class="cont">
        <h5>E-mail: colegiopierrefaure@gmail.com</h5>
      </li>
      <li class="cont">
        <h5  class="ubicacion" routerLink="/contacto" routerLinkActive="true">Encuentanos</h5>
      </li>
      <img class="ubi" src="../../../../assets/images/ubi.png" alt="ubicacion">
    </ul>
    <br> <br>
  </div>
</body>
<footer>
  <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
</footer>
</html>
