<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios</title>
</head>
<body>
  <h1>Servicios</h1>
  <hr>
  <ul class="atributos">

    <li class="preescolar">
      <h4>Preescolar</h4>
      La Educación Preescolar como primer peldaño de la formación escolarizada del niño mexicano, brinda a las niñas y los niños de 3, 4 y 5 años una atención pedagógica congruente con las características propias de la edad. El jardín de niños tiene la función de favorecer el desarrollo integral de manera  armónica</li>

      <li class="guarderia">
        <h4>Guarderia</h4>
        Elegir una buena guardería suele ser una decisión bastante importante para los padres, puesto que al momento de dejar a sus hijos al cuidado de otras personas necesitan sentirse completamente tranquilos. Una buena guardería debe ofrecerle a los niños una amplia variedad de juegos y actividades, con materiales didácticos que le permitan divertirse e interactuar entre sí</li>

      <li class="clubtareas">
        <h4>Club de Tareas</h4>
        Programa que responde a las necesidades de los padres de familia para acompañar a sus hijos en la realización de tareas, asesorarlo académicamente y realizando ejercicios para que vayan fortaleciendo las habilidades, destrezas y conocimientos que les ayuden a consolidar sus hábitos de estudio.</li>

      <li class="actextr">
        <h4>Actividades extraescolares</h4>
        Contamos con ballet, arte, ciencias, inglés, educacion física y taller de manualidades </li>

    </ul>
  <h6>Horario de 6:30 AM hasta 8:00 PM</h6>
</body>
<footer>
  <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
</footer>
</html>
