<header>
  <app-navegacion></app-navegacion>
</header>
<body>
  <div class="container">
    <div class="desc">
      <h1>¿Quienes somos?</h1>
      <br><br>
      <h4>Somos una pequeña institución privada <br>
          enfocada en la educación preescolar, <br>
          pero que cuenta con distintos servicios <br>
          para el apoyo a los padres más ocupados <br>
          y a su vez al desarrollo de los alumnos</h4>
      <br><br>
    </div>
     <hr> <br> <br>
    <h2 class="cabeceras uno">Misión</h2>
    <h2 class="cabeceras dos">Visión</h2>
    <br>
    <div class="mision">
      <h4>Ofrecer a nuestros alumnos una formación <br>
          acádemica e integral basada en estándares <br>
          de calidad, para lograr el desarrollo de sus <br>
          habilidades.
      </h4>
    </div>
    <div class="vision">
      <h4>Personas conscientes de la situación  <br>
          internacional que se puedan distinguir <br>
          por sus competencias academicas y  <br>
          desarrollar ética y responsabilidad. <br> </h4>
    </div>
    <br> <br> <hr>
    <br><br>
    <div class="valores">
      <h2>Nuestros Valores</h2>
      <ul class="valores-1">
        <li>
          <figure>
            <img class="valores-2 " src="../../../../assets/images/innovacion.png" alt="valor innovacion"  >
            <figcaption>
              <br><br>
              <p>La innovación es muy  <br> importante para  nosotros  <br> ya que es la principal fuente de crecimiento y
                además permite asimilar los contenidos de una mejor manera.</p>
            </figcaption>
          </figure>
        </li>
        <li >
          <figure>
              <img class="valores-2" src="../../../../assets/images/creatividad.png" alt="valor creatividad" routerLink="/nosotros" routerLinkActive="true" >
            <figcaption>
              <br><br> <br>
              <p>Valor de gran importancia para potenciar y lograr una mejor utilización de los recursos individuales y grupales.</p>
            </figcaption>
          </figure>
        </li>
        <li >
          <figure>
            <img class="valores-2" src="../../../../assets/images/responsabilidad social.png" alt="valor responsabilidad" routerLink="/nosotros" routerLinkActive="true" >
            <figcaption>
              <br><br> <br>
              <p>Es preciso enseñar a los niños desde la edad temprana sobre el respeto y consideración que debemos tener por los demás.</p>
            </figcaption>
          </figure>
        </li>
        <li >
          <figure>
            <img class="valores-2" src="../../../../assets/images/respeto.png" alt="valor respeto" routerLink="/nosotros" routerLinkActive="true">
            <figcaption>
              <br><br>
              <p> Educar niños y niñas  <br> responsables es una tarea a largo plazo y requiere dedicación. <br> Que toma suma importancia <br> para forjar a las proximas generaciones.</p>
            </figcaption>
          </figure>

        </li>
      </ul>
      <ul class="valores-1">
        <li class="desc">
          <abbr title="La innovacion para nosotros es muy importante ya que nos permite aprovechar los recursos para obtener beneficios sociales">Innovacion</abbr>.
        </li>
        <li class="desc first" >
          <abbr title="La creatividad es un recurso que todos tenemos a nuestro alcance, y que practicamos a diario casi sin darnos cuenta. Tomamos decisiones, resolvemos problemas cotidianos, innovamos de la nada misma generando espacios nuevos para avanzar hacia lo que aún no está construido.">Creatividad</abbr>.
        </li>
        <li class="desc first">
          <abbr title="Es preciso enseñar a los niños desde la edad temprana sobre el respeto y consideración que debemos tener por los demás. Es un aprendizaje que comienza en la familia, ya que si no se respeta al niño desde la cuna su crecimiento y desarrollo emocional será dificultoso">Respeto</abbr>.
        </li>
        <li class="desc first">
          <abbr title=" Educar niños y niñas responsables es una tarea a largo plazo y requiere dedicación. Para fomentar el sentido de la responsabilidad es recomendable empezar formándoles poco a poco en el compromiso, intentando que desde pequeños los niños se encarguen, dentro de sus posibilidades, de recoger su habitación, de poner la mesa, de aceptar sus errores etc...">Responsabilidad</abbr>.
        </li>
      </ul>
      <br> <br>
      <hr>
    </div>
    <br>
    <ul class="final">
      <li class="cont">
        <h5>Teléfono: 3313480337</h5>
      </li>
      <li class="cont">
        <h5>E-mail: colegiopierrefaure@gmail.com</h5>
      </li>
      <li class="cont">
        <h5  class="ubicacion" routerLink="/contacto" routerLinkActive="true">Encuentranos</h5>
      </li>
      <img class="ubi" src="../../../../assets/images/ubi.png" alt="ubicacion">
    </ul>
  </div>

  <!--Modales para los valores-->


  <footer>
    <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
  </footer>
</body>
