<header>
  <app-navegacion></app-navegacion>
</header>
<body>
  <div class="container">
    <div class="desc">
      <h1>¿Quienes somos?</h1>
      <br><br>
      <h4>Somos una pequeña institución privada <br>
          enfocada en la educación preescolar, <br>
          pero que cuenta con distintos servicios <br>
          para el apoyo a los padres más ocupados <br>
          y a su vez al desarrollo de los alumnos</h4>
      <br><br>
    </div>
     <hr> <br> <br>
    <h2 class="cabeceras uno">Misión</h2>
    <h2 class="cabeceras dos">Visión</h2>
    <br>
    <div class="mision">
      <h4>Ofrecer a nuestros alumnos una formación <br>
          acádemica e integral basada en estándares <br>
          de calidad, para lograr el desarrollo de sus <br>
          habilidades.
      </h4>
    </div>
    <div class="vision">
      <h4>Personas conscientes de la situación  <br>
          internacional que se puedan distinguir <br>
          por sus competencias academicas y  <br>
          desarrollar ética y responsabilidad. <br> </h4>
    </div>
    <br> <br> <hr>
    <br><br>
    <div class="valores">
      <h2>Nuestros Valores</h2>
      <ul class="valores-1">
        <li>
          <img class="valores-2 " src="../../../../assets/images/innovacion.png" alt="valor innovacion"  >
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/creatividad.png" alt="valor creatividad" routerLink="/nosotros" routerLinkActive="true" >
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/responsabilidad social.png" alt="valor responsabilidad" routerLink="/nosotros" routerLinkActive="true" >
        </li>
        <li >
          <img class="valores-2" src="../../../../assets/images/respeto.png" alt="valor respeto" routerLink="/nosotros" routerLinkActive="true">
        </li>
      </ul>
      <ul class="valores-1">
        <li class="desc">
          <h2>Innovacion</h2>
        </li>
        <li class="desc first" >
          <h2>Creatividad</h2>
        </li>
        <li class="desc first">
          <h2>Respeto</h2>
        </li>
        <li class="desc first">
          <h2>Responsabilidad</h2>
        </li>
      </ul>
    </div>
  </div>
  <footer>
    <p>Derechos Reservados &copy; Colegio Pierre Faure 2021.</p>
  </footer>


</body>
