<header>
  <app-usuarios></app-usuarios>
</header>
<div class="col-md-4 " *ngFor= "let user of users">
  <div class="card text-center">
    <div class="card header bg-dark text-white justify-content-between align-items-center">
      {{user.nombre_s}} {{user.apellido_pat}} {{user.apellido_mat}}
    </div>
    <div class="card-body">
      <a [routerLink]="['/usuarios/edit', user.id_user]" class="editar" class="btn btn-info btn-block " (click) = "editUser(user.id_user)">
        Editar Usuario
      </a>
      <button class="btn btn-danger" (click) = "deleteUser(user.id_user)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>

